---
- name: Alertmanager - Is alertmanager installed ?
  stat:
    path: /usr/local/bin/alertmanager
  register: __stat_alertmanager

- name: Alertmanager - Which version is installed ?
  when: __stat_alertmanager.stat.exists
  block:
    - name: Alertmanager - Get version
      shell:
        cmd: "alertmanager --version"
      register: __alertmanager_version_cmd
      changed_when: false

    - name: Alertmanager - Extract installed version
      set_fact:
        __alertmanager_version: "{{ __alertmanager_version_cmd.stdout | regex_search('[0-9]+\\.[0-9]+\\.[0-9]+') }}"

- name: Alertmanager - Install
  when: not __stat_alertmanager.stat.exists or (__alertmanager_version != alertmanager_version)
  block:
  - name: Alertmanager - Add user
    user:
      state: present
      name: alertmanager
      shell: /usr/sbin/nologin
  
  - name: Alertmanager - Create dirs
    file:
      state: directory
      path: "{{ item }}"
      owner: alertmanager
      group: alertmanager
      mode: '0755'
    loop:
      - /etc/alertmanager
      - /var/lib/alertmanager
  
  - name: Alertmanager - Generate temporary install directory
    tempfile:
      state: directory
      suffix: install
    register: tmp_dir
  
  - name: Alertmanager - Download archive
    get_url:
      url: "{{ alertmanager_download_url }}"
      dest: "{{ tmp_dir.path }}/alertmanager.tar.gz"
      mode: '0400'
  
  - name: Alertmanager - Unarchive
    unarchive:
      src: "{{ tmp_dir.path }}/alertmanager.tar.gz"
      dest: "{{ tmp_dir.path }}/"
      extra_opts: [--strip-components=1]
      remote_src: yes
  
  - name: Alertmanager - Template alertmanager config 
    template:
      src: "alertmanager.yml.j2" 
      dest: "/etc/alertmanager/alertmanager.yml"
      owner: alertmanager
      group: alertmanager
      mode: '0640'
  
  - name: Alertmanager - Add systemd service
    template:
      src: "alertmanager.service.j2"
      dest: "/etc/systemd/system/alertmanager.service"
      owner: root
      group: root
      mode: '0644'
  ## To remove if haproxy in front and allowing localhost only
  - name: Alertmanager - Open port tcp/9093
    ufw:
      rule: allow
      port: 9093
      proto: tcp
  
  - name: Alertmanager - Copy binary
    copy:
      src: "{{ tmp_dir.path }}/{{ item }}"
      dest: "/usr/local/bin/{{ item }}"
      remote_src: yes
      owner: alertmanager
      group: alertmanager
      mode: '0755'
    loop:
      - alertmanager
      - amtool
  
  - name: Alertmanager - Reload daemons
    systemd:
      state: restarted
      enabled: yes
      name: alertmanager
      daemon_reload: yes
    notify:
      - Prometheus - Restart
  
  
  - name: Alertmanager - Removing the temporary file
    when: tmp_dir.path is defined
    file:
      path: "{{ tmp_dir.path }}"
      state: absent
...
