# Fail2Ban configuration fragment for OpenVPN

[openvpn]
enabled  = true
port     = {{ vpn.port }} 
protocol = {{ vpn.proto[0:3] }}
filter   = openvpn
logpath  = /var/log/openvpn/{{ vpn.name }}/vpn.log
banaction= ufw
maxretry = 3

