port {{ vpn.port }}
proto {{ vpn.proto }}
dev tun

ca {{ vpn.name }}/ca.crt
cert {{ vpn.name }}/ovpn-server.crt
key {{ vpn.name }}/ovpn-server.key
dh {{ vpn.name }}/dh.key
tls-crypt {{ vpn.name }}/ta.key

topology subnet
plugin /usr/lib/openvpn/openvpn-plugin-auth-pam.so login

server {{ vpn.subnet }} {{ vpn.subnet_mask }}
ifconfig-pool-persist {{ vpn.name }}/ipp.txt
keepalive 10 120

user nobody
group nogroup
persist-key
persist-tun
status /var/log/openvpn/{{ vpn.name }}/status.log
log /var/log/openvpn/{{ vpn.name }}/vpn.log
verb 3
explicit-exit-notify 1

replay-persist {{ vpn.name }}/replay-persist

tls-version-min 1.2
tls-version-max 1.2

tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256
ncp-ciphers AES-256-GCM:AES-128-GCM
cipher AES-256-GCM
auth SHA512

ecdh-curve brainpoolP384r1

prng sha1

